.al-deals {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr 1fr;
	margin-bottom: 30px;
	position: relative;
}

.al-deal {
	padding: 20px;
	background: #f1f1f1;
}

.al-deal__attr {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.al-deal__attr + .al-deal__attr {
	margin-top: 15px;
}

.al-deal__deal-price {
	display: block;
	text-align: center;
	background: #e11e30;
	padding: 10px;
	color: #fff;
}

.al-deal__index {
	font-size: 20px;
	position: absolute;
	top: -15px;
}

#auto-listings-contact #_al_enquiry_interesting_deal {
	width: 100%;
	margin-bottom: 10px;
}

/*# sourceMappingURL=style.css.map */